<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí</title>
     <link rel = "stylesheet" href="/static/style.css">
</head>
<body>   
    <nav>
        <a href = "/">Inicio</a>
        <a href = "/about">Sobre Mí</a>
        <a href = "/project">Proyectos</a>
        <a href = "/contact">Contacto</a>
    </nav>
    <section>
        <h1>Sobre Mí</h1>
        <p>Me llamo Federico, tengo 14 años y me encanta programar y crear cosas nuevas</p>
        <p> Me encanta crear proyectos pequeños pero útiles</p>
    
</body>
</html>