<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portfolio - Federico</title>

    <link rel = "stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href = "/">Inicio</a>
        <a href = "/about">Sobre Mí</a>
        <a href = "/project">Proyectos</a>
        <a href = "/contact">Contacto</a>
    </nav>
    <section>
        <h1>¡Hola! Soy Federico</h1>
        <p>Bienvenido a mi portafolio. Aquí encontrarás información sobre mis proyectos y cómo contactarme.</p>
        <p>Explora mis proyectos y no dudes en contactarme si tienes alguna pregunta</p>
    </section>
</body>
</html>