<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel = "stylesheet" href="/static/style.css">
</head>
<body>
        <nav>
        <a href = "/">Inicio</a>
        <a href = "/about">Sobre Mí</a>
        <a href = "/project">Proyectos</a>
        <a href = "/contact">Contacto</a>
    </nav>
    <section>
        <h1>Mis proyectos</h1>
        <ul>
            <li><strong>Bot De discord: </strong>Un bot que reponde a comandos.</li>
        </ul>
    </section>
</body>
</html>