<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco Construcción</title>
    <link rel = "stylesheet" src = "../static/style.css">
</head>
<body>
    <h1>¡Gracias por visitar nuestra calculadora ecológica<h1>
    <p>¿Quieres hacer del mundo un lugar más ecológico?</p>
    <p>Rellena el formulario y haremos una eco-construcción para tí</p>

    <a href = "{{ url_for('form') }}">Rellena el formulario</a>

</body>
</html>